header {
  min-height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    display: block;
    margin: 0 auto;
    @include respond-to(tablet) {
      margin: 0;
    }
  }

  @include respond-to(tablet) {
    display: flex;
    justify-content: flex-start;
    min-height: 258px;
  }
  @include respond-to(desktop) {
    justify-content: flex-start;
  }
}
