.socials {
  margin-top: 3.3rem;
  margin-bottom: 4.8rem;
  @include respond-to(tablet) {
    order: 2;
  }
  &__list {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    opacity: 0.6;
    @include respond-to(tablet) {
      margin-right: 99px;
    }
  }
  &__item {
    max-width: 100%;
    list-style: none;
    img {
      max-width: 100%;
    }
  }
}
