.btn {
  font-size: 0.77rem;
  font-weight: weight(bold);
  width: 100%;
  border: none;
  border-radius: 28px;
  height: 46px;
}

.btn-primary {
  @include respond-to(tablet) {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 162px;
  }
}
